In [1]:
import pandas as pd

In [2]:
import pandas as pd

path = 'models/source.bdf'

# Using Pandas with a column specification
col_specification = [(0, 8), (9, 16), (17, 24), (25, 32), (33, 40), (34, 48), (49, 56), (57,64), (58,72), (73, 80)]
data = pd.read_fwf(path, colspecs=col_specification, header=None)

In [3]:
data.iloc[900:,0:8]

,0,1,2,3,4,5,6,7
900,GRID,3874385,NaN,51.6974,774.106,74.10663.13334,NaN,NaN
901,GRID,3874386,NaN,53.8201,774.564,74.56467.55421,NaN,NaN
902,GRID,3874387,NaN,53.2956,774.935,74.93551.28264,NaN,NaN
903,GRID,3874390,NaN,51.9551,-769.18,769.1867.46318,NaN,NaN
904,GRID,3874391,NaN,61.9169,795.764,95.76467.66024,NaN,NaN
...,...,...,...,...,...,...,...,...
2986,$ANSA_PA,T;PART;,D;6274;,ID;6362,00;NAME,0;NAME;63621TY,_A000H1,BELONGS
2987,$VERSION,0;PID_O,FSET;0;,OLOR;17,;147;16,147;160;0;IS_C,LOR_ACT,VE;1;AT
2988,$le Type,ANSA;DM,Status;,IP;CONT,INS;PSH,NS;PSHELL;6362,00;,NaN
2989,$$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$$$$$$$$,$$$$$$$,$$$$$$$
2990,$$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$,$$$$$$$$$$$$$$,$$$$$$$,$$$$$$$

In [4]:
data.set_index(0).filter(regex='^SPC$', axis=0)

        1     2       3    4    5    6    7    8    9
0
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
..    ...   ...     ...  ...  ...  ...  ...  ...  ...
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
SPC  8000  1000  123456   0.   0.  NaN  NaN  NaN  NaN

[65 rows x 9 columns]

In [5]:
data[(data[0]=="SPC")]

        0     1     2       3    4    5    6    7    8    9
21    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
32    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
46    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
55    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
69    SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...   ...   ...     ...  ...  ...  ...  ...  ...  ...
720   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
729   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
743   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
752   SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
2527  SPC  8000  1000  123456   0.   0.  NaN  NaN  NaN  NaN

[65 rows x 10 columns]

In [6]:
data[(data[0]=="SPC") & (data[1]=="8000")]

        0     1     2       3   4   5    6    7    8    9
2527  SPC  8000  1000  123456  0.  0.  NaN  NaN  NaN  NaN

In [33]:
data.columns=['keyword','idx','f3','f4','f5','f6','f7','f8','f9','f10']

In [36]:
data.query('keyword=="SPC"').filter()

     keyword   idx    f3      f4   f5   f6   f7   f8   f9  f10
21       SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
32       SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
46       SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
55       SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
69       SPC   NaN     =     NaN  NaN  NaN  NaN  NaN  NaN  NaN
...      ...   ...   ...     ...  ...  ...  ...  ...  ...  ...
720      SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
729      SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
743      SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
752      SPC   NaN     =       3  NaN  NaN  NaN  NaN  NaN  NaN
2527     SPC  8000  1000  123456   0.   0.  NaN  NaN  NaN  NaN

[65 rows x 10 columns]

# Alternatives
fwf seems to have a bug extracting some ids... !

In [7]:
from collections import OrderedDict
from fwf import BaseLineParser, BaseFileParser


class bdfLineParser(BaseLineParser):
    """Complete line parser for humans.txt example file."""

    _map = OrderedDict(
        [
            ("keyword", slice(0, 8)),
            ("idx", slice(9, 16)),
            ("field2", slice(17, 24)),
            ("field3", slice(25, 32)),
            ("field4", slice(33, 40)),
            ("field5", slice(41, 48)),
            ("field6", slice(49, 56)),
            ("field7", slice(57, 64)),
            ("field8", slice(65, 72)),
        ]
    )


class BdfFileParser(BaseFileParser):
    """Complete file parser for humans.txt example file."""

    _line_parser = bdfLineParser

In [8]:
bdf = BdfFileParser.open(path)

In [9]:
#bdf.objects[1900:1905]

In [10]:
bdf.objects.filter(idx="2372204")

+---------+---------+---------+---------+---------+---------+--------+--------+--------+
| keyword | idx     | field2  | field3  | field4  | field5  | field6 | field7 | field8 |
+---------+---------+---------+---------+---------+---------+--------+--------+--------+
| CTRIA3  | 2372204 | 6362100 | 3882031 | 3882033 | 3882032 |        |        |        |
+---------+---------+---------+---------+---------+---------+--------+--------+--------+

In [11]:
bdf.objects.filter(keyword="SPCADD")

+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| keyword | idx     | field2  | field3  | field4  | field5  | field6  | field7  | field8  |
+---------+---------+---------+---------+---------+---------+---------+---------+---------+
| SPCADD  |       1 | 3800133 | 3810133 | 3820011 | 3820012 | 3820013 | 3830011 | 3830013 |
| SPCADD  |       2 | 3000041 | 3000042 | 3000043 | 3000051 | 3000052 | 3000053 | 3010041 |
| SPCADD  |       3 | 3000041 | 3000042 | 3000043 | 3000051 | 3000052 | 3000053 | 3010041 |
| SPCADD  |       4 | 3000041 | 3000042 | 3000043 | 3000051 | 3000052 | 3000053 | 3010041 |
| SPCADD  |       5 | 3000041 | 3000042 | 3000043 | 3000051 | 3000052 | 3000053 | 3010041 |
| SPCADD  |       6 | 3820011 | 3820012 | 3820013 | 3820015 | 3830011 | 3830013 | 3830015 |
| SPCADD  |       7 | 3000043 | 3000053 | 3010041 | 3010042 | 3010043 | 3010052 | 3010053 |
| SPCADD  |       8 | 3000043 | 3000051 | 3000052 | 3000053 | 3010043 | 3010051 | 3010053 |
| SPCADD  |       9 | 3000041 | 3000042 | 3000043 | 3000053 | 3010041 | 3010043 | 3010053 |
| SPCADD  |      10 | 3000011 | 3000012 | 3000013 | 3000023 | 3000032 | 3000033 | 3010013 |
| SPCADD  |      11 | 3000041 | 3000042 | 3000043 | 3000052 | 3000053 | 3010043 | 3010053 |
| SPCADD  |      12 | 3000043 | 3000051 | 3000052 | 3000053 | 3010043 | 3010053 | 3550043 |
| SPCADD  |      13 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      14 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      15 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      16 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      17 | 3000011 | 3000012 | 3000013 | 3000023 | 3000033 | 3010011 | 3010013 |
| SPCADD  |      18 | 3000013 | 3000023 | 3000031 | 3000032 | 3000033 | 3010013 | 3010023 |
| SPCADD  |      19 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      20 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      21 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      22 | 3500031 | 3500032 | 3500033 | 3500041 | 3500042 | 3500043 | 3500051 |
| SPCADD  |      23 | 3000011 | 3000012 | 3000013 | 3000021 | 3000022 | 3000023 | 3000031 |
+---------+---------+---------+---------+---------+---------+---------+---------+---------+

In [24]:
bdf.objects.filter(idx=8000)

++
||
++